:root {
    --twitch-color : #9046ff;
    --secondary-twitch-color: #dac3fd;
    --secondary-twitch-color-hover: hsl(264, 94%, 80%);
    --border-color: #0f094f;
    --secondary-border-color: hsl(245, 80%, 30%);
    --white: #fff;
    --grey: #eeeeee;
    --robotic: "Tektur";
}

body { 
    font-family: sans-serif; 
    margin: 20px; 
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--grey);
}

h1, #director, #production {
    font-family: var(--robotic), Arial, Helvetica, sans-serif;
}

.infos {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.infos label {
    max-width: 150px;
}

.infos input {
    width: 230px;
}

input, button, select { 
    margin: 5px; 
}

input {
    border: none;
    border-bottom: 1px solid var(--secondary-border-color);
    border-radius: 5px;
    height: 20px;
}

.last-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

table { 
    width: 100%; 
    border-collapse: collapse; 
}

th:not(:last-of-type), td:not(:last-of-type) { 
    border-right: 2px solid var(--border-color); 
}

th, td {
    padding: 8px; 
}

.scene-row input { 
    width: 90%; 
}

img:first-of-type {
    position: absolute;
    right: 30px;
    top: 0px;
    border-bottom: 3px solid var(--border-color);
}

img:last-of-type {
    max-width: 900px;
}

#scenes {
    max-width: 893px;
    border: 3px solid var(--border-color);
    position: relative;
    left: 1px;
}

#production, #director {
    display: flex;
    border-bottom: 3px solid var(--border-color);
    margin: 0;
    padding: 5px 0 5px 5px;
}

#add-scene-btn {
    border-top: 3px solid var(--border-color);
}

#add-scene-btn button {
    font-weight: bold;
    border: none;
    background-color: transparent;
    padding-right: 30px;
    border-right: 3px solid var(--border-color);
    cursor: pointer;
}

#add-scene-btn button:hover {
    color: var(--twitch-color);
}

.delete {
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin: 5px 0;
}

.delete span {
    font-size: 24px;
    color: var(--twitch-color);
}

.delete:hover span {
    color: var(--secondary-twitch-color);
}

#startBot {
    align-self: center;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    font-family: var(--robotic), Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: var(--secondary-twitch-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    cursor: pointer;
}

#startBot:hover {
    background-color: var(--secondary-twitch-color-hover);
}